<section id="blog" class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-5 fs-1">Latest News</h2>
    <div class="row g-4">
      {% for post in site.posts limit:3 %}
      <div class="col-md-5">
        <div class="card h-100 shadow-sm text-white bg-success ">
          {% if post.image %}
          <img src="{{ post.image | relative_url }}" class="card-img-top">
          {% endif %}
          <div class="card-body">
            <h3 class="card-title h5">{{ post.title }}</h3>
            <p class="text-light small">
              {{ post.date | date: "%B %-d, %Y" }}
            </p>
            <p class="card-text">{{ post.excerpt | strip_html }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>