<footer class="py-3 bg-success-subtle border-top border-success border-2"> <!-- Footer: more about, quick links and copyright -->
    <div class="container">
        <div class="row g-2 align-items-center">
            <div class="col-md-3 text-center">
                <img src="{{ '/assets/images/contact.png' | relative_url }}" alt="Contact" class="footer-contact-img">
            </div>
            <div class="col-md-6 text-center">
                <h6 class="text-success mb-1">Quick Links</h6>
                <div class="d-flex flex-wrap gap-2 justify-content-center">
                    <a href="#home" class="text-dark small">Home</a>
                    <a href="#booking" class="text-dark small">Booking</a>
                    <a href="#about" class="text-dark small">About</a>
                    <a href="#services" class="text-dark small">Services</a>
                    <a href="#contact" class="text-dark small">Contact</a>
                </div>
            </div>
            <div class="col-md-3 text-end">  <!-- Updates with current year-->
                <p class="small mb-0">&copy; {{ 'now' | date: "%Y" }} Eilish Bobicki RMT. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>