<section id="home" class="position-relative"> <!-- Home Section -->
  <!-- Background video element  -->
  <video id="background-video" class="video-background" autoplay muted loop playsinline>
    <source src="{{ '/assets/Videos/m1.mp4' | relative_url }}" type="video/mp4" codecs="avc1.42E01E, mp4a.40.2">
</video>
  <div class="video-overlay"></div>
  <div class="container position-relative">
    <div class="row align-items-center min-vh-100">
      <div class="col-lg-6">
        <h1 class="display-2 text-white">Eilish Bobicki</h1>
        <p class="fs-2 text-white">Registered massage therapist providing massage therapy for health and wellness in the Boundary area.</p>
        <p class="fs-5 text-white">Providing compassionate,therapeutic treatments to support your journey toward healing and enhanced well-being.</p>
        <a href="https://eilishrmt.janeapp.com/#/staff_member/1/treatment/2"
           class="btn btn-success btn-lg mt-3">
           Book an Appointment
        </a>
      </div>
    </div>
  </div>
</section>